.select-options-container {
  padding: 8px;

  background-color: var(--background-accent);
  border: 1px solid var(--color-primary);
  border-radius: 4px;

  position: absolute;
  overflow: hidden;
}

.select-options-wrapper {
  height: 100%;
  padding-right: 4px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100%;
}

.select-options-wrapper .virtual-container {
  outline: none;
}

.select-options-wrapper .virtual-container:focus {
  outline: none;
}

.select-search {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  font-size: 12px;
  color: #666;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}
