.select-option {
  width: 100%;
  padding: 4px 8px;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 4px;
  outline: none;

  cursor: pointer;

  transition: background-color 0.3s;
}

.select-option:hover {
  background-color: var(--background-hover);
}

.select-option.focused {
  outline: none;
  background-color: var(--background-focus);
}

.select-option.selected {
  background-color: var(--background-secondary);
}

.select-option.selected:hover,
.select-option.selected.focused {
  background-color: var(--background-secondary-hover);
}
